@charset "UTF-8";
/*------------------------------------*\
    STYLE.CSS
\*------------------------------------*/
/**http://dev.akiryk/wp-admin/profile.php
 * 
 * sass --watch style.scss:style.min.css --style compressed
 * 
 * Here we pull in some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "inuit.css/inuit";
@import "compass";
@import "UI/base.scss";
@import "UI/modules.scss";
@import "UI/fonts.scss";
@import "UI/mixins.scss";
@import "UI/links.scss";
@import "UI/offcanvas.scss";

.page-title {
	font-weight: 700;
	padding-bottom: $half-spacing-unit;

}

/* ———————————————————————————————————————————————————————————————
 * 
 *  BLOG
 *  
 * ——————————————————————————————————————————————————————————————— */


.blog-article,
.page {
	margin-bottom: $base-spacing-unit;

	p {
		@include font-size(20px);
		line-height: 1.5;
	}
}


/* ———————————————————————————————————————————————————————————————
 * 
 *  WELCOME WRAPPER
 *  
 * ——————————————————————————————————————————————————————————————— */

.hero {
	@include font-size(22px);
	line-height: 1.5;
	font-family: $body-face;

	@include media-query(palm){
		width: $smallWidth;
		margin: $base-spacing-unit auto 0;	
	}
	

	@include media-query(lap-and-up) {

		@include font-size(38px);
		// line-height:1.25em;	
		padding-bottom: $base-spacing-unit;
		margin-bottom: $base-spacing-unit;
		a {
			// color: rgba(white, 0.4);
			&:hover {
			// color: white;
			}
		}
	}
}

/* ———————————————————————————————————————————————————————————————
 * 
 *  MAIN CONTAINERS
 *  
 * ——————————————————————————————————————————————————————————————— */
 %pagewidth {
	margin: 0 auto;
	width: 100%;
	max-width: $lap-start;
}


.site-main {
	@extend %pagewidth;
	overflow: hidden;

	@include media-query(lap-and-up){
		padding: 0 $base-spacing-unit;
	}
}

.site-content {
	@include media-query(lap-and-up) {
		padding: $base-font-size 0;
	}
}


@include media-query(palm){
	article {
		width: $smallWidth;
		margin: $base-spacing-unit auto;	
	}
	.hero {
		width: $smallWidth;
	}
	
}
	


/* ———————————————————————————————————————————————————————————————
 * 
 *  MASTHEAD
 *  
 * ——————————————————————————————————————————————————————————————— */

@include media-query(palm){
	.masthead-palm-wrapper {
		border-bottom: 1px solid #ddd;
	}	
}


.masthead-wrapper {
  font-family: $serif;
  @extend %pagewidth;

  @include media-query(lap-and-up){
     padding: $base-spacing-unit*2 $base-spacing-unit;
     margin-bottom: 0;
  }

  @include media-query(palm){
  	width: $smallWidth;
	  margin: 0 auto;
  }
}

.site-header {
  
  @include media-query(lap-and-up){
  	border-bottom: 1px solid $underline-color;
  	padding-bottom: $half-spacing-unit;
  }
}

.title-group {
	float: left;
}

.site-description {
    color: #444;
}

.site-title {
    line-height: 2* $base-spacing-unit;

    @include media-query(lap-and-up){
        line-height: $base-spacing-unit;
    }

    a {
        color: #a71c05;
    }
}

// The nav element
.main-navigation {
    float: right;
    @include font-size($h1-size);

    a {
        color: #d8d8d8;
        padding: 0 $half-spacing-unit;
        font-weight: 100;  
        &:hover {
        	color: $hover-color;
        } 
        &:last-of-type{
            padding-right: 0;
        }
    }

    .nav {
        margin-bottom: 0;
    }

}


/* ———————————————————————————————————————————————————————————————
 * 
 *  AGG PAGES
 *  
 * ——————————————————————————————————————————————————————————————— */

.agg-header {

	a {
		color: #111;

		&:hover {
			color: $hover-color;
		}
	}
}

.agg-title {
	font-family: $body-face;
	font-weight: normal;
}

.agg-article {
	margin-bottom: $base-spacing-unit;
}

.kicker {
    font-weight: bold;
    font-size: $h1-size;
    color: #111;
}

@include media-query(lap-and-up){
	.agg-article {
		clear: both;
		margin-bottom: $base-spacing-unit * 2;

		p {
			@include font-size(18px);
			color: #555;
		}
	}

  .agg-title {
      font-family: $body-face;
      @include font-size($h3-size);
      line-height: 1.25em;
      font-weight: 600;
      margin-bottom: 4px;
  }
}

/* ———————————————————————————————————————————————————————————————
 * 
 *  SECTION: POST PAGES
 *  
 * ——————————————————————————————————————————————————————————————— */

@include media-query(palm){
	.entry-content {
		font-size: 18px;
	}
}
@include media-query(lap-and-up){

	.kicker {
		display: none;
	}

	.entry-title {
		@include font-size(54px);
	}

	.single {
		
			@include font-size(20px);
			line-height:1.5;

	}

}

.next-last-link {
	display: none;
}

@include media-query(desk){
	.next-last-link {
		display: block;
		position: fixed;
		top: 35%;
		font-size: 122px;
		line-height: 1;
		a {
			display: block;
			color: #ddd;
			&:hover {
				color: $link-color;
				.hidden-title {
					display: block;
				}
			}
		}
	}
	.icon-angle-left,
	.icon-angle-right {
		position: absolute;
		z-index: 500;
	}
	.icon-angle-right{
		right:0;
	}
	.icon-angle-left{
		left: 0;
	}
	.previous-fixed {
		left: $half-spacing-unit;
	}
	.next-fixed {
		right: $half-spacing-unit;
	}

	.hidden-title {
		display: none;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 0 6px rgba(0,0,0,0.2);
		position: absolute;
		
		padding: 2em 1em 2em 5em;
		top: 18px;
		width: 500px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 20px;

		&.right {
			left: -2em;
		}
		&.left {
			right: -1em;
			padding-right: 4em;
			padding-left: 1.5em;
		}
	}
}



/* ———————————————————————————————————————————————————————————————
 * 
 *  SECTION
 *  
 * ——————————————————————————————————————————————————————————————— */
.blog-title {
	@include font-size(36px);
}

.post-date {
	margin-bottom: $half-spacing-unit;
}

.entry-meta {
	color: $light-text;
	font-size: $h6-size;
}

.lap-up {
	display: none;

	@include media-query(lap-and-up){
		display: block;
	}
}

.lap-up-inline {
	display: none;

	@include media-query(lap-and-up){
		display: inline;
	}
}

img {
	max-width: 100%;
	height: auto; // ie8
	width: 100%;
}


h1,.alpha{
    
    font-family: $heading-face;
    font-weight: normal;

    a {
      color: $text-color;
    }
}

// Helpers to adjust standard heading styles


.tightest {
	margin-bottom: 0;
}

.tight {
	margin-bottom: $half-spacing-unit;
}

.entry-header {
	margin-bottom: $half-spacing-unit;	
}

.wp-caption-text {
	font-family: $sans;
	@include font-size(14px);
	color: #777;
}

pre {
	background: #111;
	color: #fff;
	padding: $base-spacing-unit;
	font-size: $base-font-size;
}

.paging-navigation,
.page-header {
	@include media-query(palm){
		width: 85%;
		margin: $base-spacing-unit auto;
	}
}

@include media-query(lap-and-up){
	.alignright,
	.alignleft {
		float: left;
		width: $half-width;
		margin-right: $base-spacing-unit;
	}
}

.tag-item a {
	display: inline-block;
	padding: pem(6px);
	font-family: $sans;
	color: #fff;
	background-color: $link-color;
	margin-right: $half-spacing-unit;
	&:hover {
		background-color: $hover-color;
	}
}

.post-edit-link {
	color: #e65c00;
	display: block;
	font-family: monospace; 
	margin: $base-spacing-unit 0;
}

#nav-below {
	margin-bottom: $half-spacing-unit;
	overflow: hidden;
	@include font-size(16px);
	.nav-previous {
		float: left;
		width: $half-width;
	}
	.nav-next {
		float:right;
		text-align: right;
		width: $half-width;
	}
}
// .off-site {
// 	// for image links the go off site
// 	display: block;
// 	overflow: hidden;
// 	position: relative;
// }

// @include media-query(desk){
// 	.off-site:hover:after {
// 		content: 'Enlarge';
// 		text-align: center;
// 		padding-top: 83px;
// 		top: 50%;
// 		margin-top:-100px;
// 		left: 50%;
// 		color: #fff;
// 		position: absolute;
// 		width: 200px;
// 		margin-left: -100px;
// 		border-radius: 100px;
// 		height: 200px;
// 		background: rgba(0,0,0,0.6);
// 	}

// }


/* ———————————————————————————————————————————————————————————————
 * 
 *  FOOTER
 *  
 * ——————————————————————————————————————————————————————————————— */
 .site-footer {
 	clear: both;
 	margin: $half-spacing-unit 0;
 	padding:$half-spacing-unit 0;
 	border-top: 1px solid #ddd;
 	text-align: center;
 }