/* ———————————————————————————————————————————————————————————————
 * 
 *  ADMIN
 *  
 *  
 * ——————————————————————————————————————————————————————————————— */


 .post-edit-link {
	color: #e65c00;
	display: block;
	font-family: monospace; 
	margin: $base-spacing-unit 0;
}