/*------------------------------------*\
    Agg Pages Module
\*------------------------------------*/
/**
 * 
 * Styles for portfolio aggregation content
 */

.portfolio-agg-title,
.blog-agg-title {

	a {
		color: $text-color;

		&:hover {
			color: $hover-color;
		}
	}
}
	.portfolio-agg-title {
   @include font-size($h4-size);
	}

	.blog-agg-title {
		@include font-size($h3-size);
	}	
@include media-query(lap-and-up){

}


.kicker {
    font-weight: bold;
    color: #111;
}

.portfolio-article {
	font-size: pem(18px);
	color: $light-text;
}