/* ———————————————————————————————————————————————————————————————
 * 
 *  ASSETS
 *
 *  Use this for images, video, or other placed assets.
 *  For example: captions, placement of assets...
 *  
 * ——————————————————————————————————————————————————————————————— */

.wp-caption-text {
	font-family: $sans;
	@include font-size(14px);
	color: #777;
}

// Give images/video some margin, but not if they are part of figure/caption markup
.alignnone {
	display: block;
	margin: $base-spacing-unit 0;
}

.figure {
  margin: $base-spacing-unit 0;
}

.figure .alignnone {
  margin-bottom: 0; // clear margin off of images when they are in a figure, which gets margins
}

.alignright{
  float: right;
  width: $half-width;
  margin-left: $base-spacing-unit;
}

.alignleft {
		float: left;
		width: $half-width;
		margin-right: $base-spacing-unit;
}

.mini-image {
  width: $third-width;
}

.figcaption {
  background-color: #eee;
  color: #555;
  font-family: $sans;
  font-size: pem(13px);
  padding: $base-spacing-unit/4 $half-spacing-unit;
}

.figcaption--rev {
  background-color: #222;
  color: #ccc;
}
