/* ———————————————————————————————————————————————————————————————
 * 
 *  Hero
 *  
 * ——————————————————————————————————————————————————————————————— */

 .hero {
	font-size: pem($h2-size);
	font-family: $body-face;
	margin-bottom: 2*$base-spacing-unit;
}