/*------------------------------------*\
    LINKS MODULE
\*------------------------------------*/

a {
	color: $link-color;
}

@include media-query(lap-and-up) {
  a {
    @include transition();
    &:hover,
    &:active,
    &:focus{
      text-decoration: underline;
    }
  }

  h1 > a,
  .dotted-underline {
    &:hover {
      border-bottom: 1px dotted;
      text-decoration: none;
    }
  }
}

.quiet-link {
	color: $text-color;
}

.no-underline {
	&:hover,
  &:active,
  &:focus{
    text-decoration: none;
  }
}
