/*------------------------------------*\
    LINKS MODULE
\*------------------------------------*/

a {
	@include transition();
	color: $link-color;

	&:hover,
  &:active,
  &:focus{
    text-decoration: underline;
  }
}

.quiet-link {
	color: $text-color;
}

.no-underline {
	&:hover,
  &:active,
  &:focus{
    text-decoration: none;
  }
}
