/*------------------------------------*\
    BASE
\*------------------------------------*/

body,
.site-content,
.site-footer {
	background-color: #fff;
	color: #222;
	font-family: $body-face;
}

img {
	max-width: 100%;
	height: auto; // ie8
	width: 100%;
}

article {
	clear: both;
	margin: $base-spacing-unit 0;
}

pre {
	background: #111;
	color: #fff;
	padding: $base-spacing-unit;
	font-size: $base-font-size;
	white-space: pre;
}

blockquote p {
	// wp puts a p tag inside blockquote
	font-style: italic;

	@include media-query(lap-and-up){
		padding: 0 2em;	
	}
	
}


/*------------------------------------*\
    Headers. 
    Also see inuit/headers
\*------------------------------------*/

h1,h2,h4 {
	font-family: $heading-face;
  font-weight: normal;
  line-height: 1.25;
}

h3, h5, h6 {
	font-family: $sans;
	font-weight: normal;
}

// ****************************************

time {
	color: $light-text;
	font-size: $h6-size;
}

.accessibility {
	display: none;
}

/*------------------------------------*\
    Media Queries for Base Rules
\*------------------------------------*/
@include media-query(palm){

	code {
		@include font-size(16px);
	}

	h3 {
		@include font-size(24px);
	}

	ul, ol, dd {
	  margin-left:$base-spacing-unit;
    margin-left:($base-spacing-unit / $base-font-size)*1rem;
	}
}
