/*------------------------------------*\
    BASE
\*------------------------------------*/

body {
	background-color: #fff;
	font-family: $body-face;
}

a {
	@include transition();
	color: $link-color;

	&:hover,
  &:active,
  &:focus{
      color: $hover-color;
  }
}

p {
	color: #222;
}

img {
	max-width: 100%;
	height: auto; // ie8
	width: 100%;
}

article {
	clear: both;
	margin: $base-spacing-unit 0;
}

/*------------------------------------*\
    Headers
\*------------------------------------*/

h1,h2 {
	font-family: $heading-face;
  font-weight: normal;
  line-height: 1.25;
}

h3, h4, h5, h6 {
	font-family: $sans;
	font-weight: normal;
}

.agg-title {
   @include font-size($h4-size);
}

.page-title {
	@include font-size($h3-size);
	font-weight: 700;
	padding-bottom: $half-spacing-unit;
}

.blog-agg-title {
	@include font-size($h3-size);
}

// ****************************************

time {
	color: $light-text;
	font-size: $h6-size;
}

.accessibility {
	display: none;
}

.post-date {
	margin-bottom: $half-spacing-unit;
}


