@font-face {
	font-family: 'stratus';
	src:url('fonts/stratus.eot');
	src:url('fonts/stratus.eot?#iefix') format('embedded-opentype'),
		url('fonts/stratus.woff') format('woff'),
		url('fonts/stratus.ttf') format('truetype'),
		url('fonts/stratus.svg#stratus') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-reorder:before, .icon-angle-right:before, .icon-angle-left:before {
	font-family: 'stratus';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-reorder:before {
	content: "\e000";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-left:before {
	content: "\f104";
}
