/* ———————————————————————————————————————————————————————————————
 * 
 *  Layout
 *  
 * ——————————————————————————————————————————————————————————————— */

.outer-wrapper {
	@include desk-width(); // in _mixins
	overflow: hidden;

	@include media-query(lap-and-up){
		padding: 0 $base-spacing-unit;
	}
}


.paging-navigation,
.page-header {
	@include media-query(palm){
		width: 85%;
		margin: $base-spacing-unit auto;
	}
}

@include media-query(palm){
	article {
		width: $small-width;
		margin: $base-spacing-unit auto;	
	}
	
}
