/* Modules
 * A Module is a more discrete component of the page. 
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. 
 * This is the meat of the page. See http://smacss.com/book/type-module
 */


/* ———————————————————————————————————————————————————————————————
 * 
 *  Hero
 *  
 * ——————————————————————————————————————————————————————————————— */
.hero {
	@include font-size($h2-size);
	line-height: 1.5;
	font-family: $body-face;
	
}

/* ———————————————————————————————————————————————————————————————
 * 
 *  MASTHEAD
 *  
 * ——————————————————————————————————————————————————————————————— */


.masthead-wrapper {
  font-family: $serif;
  @extend %pagewidth;

  @include media-query(lap-and-up){
     padding: $base-spacing-unit*2 $base-spacing-unit;
     margin-bottom: 0;
  }

  @include media-query(palm){
  	width: $smallWidth;
	  margin: 0 auto;
  }
}

.site-header {
  
  @include media-query(lap-and-up){
  	border-bottom: 1px solid $underline-color;
  	padding-bottom: $half-spacing-unit;
  }
}

.title-group {
	float: left;
}

.site-title {
    line-height: 2* $base-spacing-unit;

    @include media-query(lap-and-up){
        line-height: $base-spacing-unit;
    }

    a {
        color: $brand-color;
    }

    .site-description { 
    	color: $text-color;
		}
}

// The nav element
.main-navigation {
    float: right;
    @include font-size($h6-size);

    a {
        color: #d8d8d8;
        padding: 0 $half-spacing-unit;
        font-weight: 100;  
        &:hover {
        	color: $hover-color;
        } 
        &:last-of-type{
            padding-right: 0;
        }
    }

    .nav {
        margin-bottom: 0;
    }

}
